<!-- TODO: Wrapper class providing widget styles/standardized widget function calls -->
<div class="widget" [formGroup]="monerodForm">
  <h2>Monerod Controller</h2>
  <p>
    <button type="button" (click)="start()">Start Monerod</button>
    <button type="button" (click)="stop()">Stop Monerod</button>
    <input type="checkbox" id="autostart" formControlName="autostart" />
    <label for="autostart">Autostart</label>

    <!-- <input type="checkbox" id="customConfig" formControlName="customConfig" (change)="onSetCustomMonerodFilepath($event)" /> -->
    <!-- <label for="customConfig">Use Custom Config?</label> -->
  </p>
</div>
