<label for="widget-select">Add a widget:</label>
<select name="widget-select" id="widget-select" [(ngModel)]="selectVal">
    <option value="">--Please select an option--</option>
    <option *ngFor="let widget of widgets" value="{{widget}}">{{widget}}</option>
</select>
<button type="button" (click)="add()">Add</button>

<ktd-grid [cols]="cols"
          [rowHeight]="rowHeight"
          [layout]="layout"
          (layoutUpdated)="onLayoutUpdated($event)"
>
    <ktd-grid-item *ngFor="let item of layout; trackBy:trackById" [id]="item.id">
      <div class="widget">

      <button type="button" (click)="remove(item.id)">X</button>

      <!-- TODO: Add generic widget that renders widget component from service based on id? -->
      <div *ngIf="item.id === 'app-monerochan-slideshow'">
        <app-monerochan-slideshow></app-monerochan-slideshow>
      </div>

      <div  *ngIf="item.id === 'app-monerod-status-basic'">
        <app-monerod-status-basic></app-monerod-status-basic>
      </div>

      <div *ngIf="item.id === 'app-monerod-timer'">
        <app-monerod-timer></app-monerod-timer>
      </div>

      <div *ngIf="item.id === 'app-monerod-controller'">
        <app-monerod-controller></app-monerod-controller>
      </div>

      <div *ngIf="item.id === 'app-radio'">
        <app-radio></app-radio>
      </div>

      <div *ngIf="item.id === 'app-updater'">
        <app-updater></app-updater>
      </div>

      <div *ngIf="item.id === 'app-donation'">
        <app-donation></app-donation>
      </div>
    </div>

    </ktd-grid-item>

</ktd-grid>

