<div class="widget">
  <!-- Removing this data attribute may prevent template from updating -->
  <!-- TODO Fix -->
  <h2 attr.data-monerodstatus="{{testEmitter$ | async | json}}">Monerod Status</h2>
  <div *ngIf="(!testEmitter$.value.isOffline)">
    <div class="sync-info">
      <span *ngIf="syncPercentage === 100">
        Synchronized
      </span>
      <span *ngIf="syncPercentage !== 100">
        Synchronizing
      </span>
      <span>
        Sync: {{ syncPercentage ? syncPercentage : 'Unknown ' }}%
      </span>
    </div>

    <p>
      <mat-progress-bar color="primary" [value]="syncPercentage">
      </mat-progress-bar>
    </p>
    <br>
    <h3>Connections</h3>
    <div class="values-wrapper">
      <div>
        <p class="value-title">Peers</p>
        <p>{{ testEmitter$.value.numOnlinePeers }}</p>
      </div>
      <div>
        <p class="value-title">Incoming</p>
        <p> {{ testEmitter$.value.numIncomingConnections }}</p>
      </div>
      <div>
        <p class="value-title">Outgoing</p>
        <p> {{ testEmitter$.value.numOutgoingConnections }}</p>
      </div>
      <div>
        <p class="value-title">RPC</p>
        <p>{{ testEmitter$.value.numRpcConnections }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="testEmitter$.value.isOffline">
    🔴 Node Offline
  </div>
</div>
