.sync-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.values-wrapper {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.value-title {
  font-weight: bold;
}
